/* Скрыть служебные подписи в футере на странице профиля */
 .l-footer .copyright,
 .l-footer .links,
 .l-footer .b-to-top,
 .l-footer .b-shade,
 .l-footer:before {
    display: none !important;
}

/* Ужать сам футер, чтобы не оставался пустой зазор */
 .l-footer {
    padding: 2 !important;
    margin: 2 !important;
    min-height: 0 !important;
    border: 0 !important;
}
