/* Скрыть служебные подписи в футере на странице профиля */
 .l-footer .copyright,
 .l-footer .links,
 .l-footer .b-to-top,
 .l-footer .b-shade,
 .l-footer:before {
    display: none !important;
}

/* Ужать сам футер, чтобы не оставался пустой зазор */
 .l-footer {
    padding: 2px;
    margin: 0 !important;
    min-height: 0 !important;
    border: 0 !important;
}



/* === Шикимори: спрятать хлебные крошки под шапкой ===
   Это уберёт блок с надписью "Профиль" под стрелкой назад.
   Стрелку назад НЕ трогаем.
*/

header .b-breadcrumbs {
  /* полностью скрываем блок крошек */
  display: none !important;
}

/* Отключает слева кнопке репорт багов и на верх страницы */
.b-to-top .slide {
  display: none !important;
}
.b-to-top {
  display: none !important;
}
body[data-locale] .b-feedback>.marker-positioner {
  display: none !important;
}
